input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse max-scroll-amount="0%"
}


output "eDP-1" {
    mode "2256x1504"
    scale 1.25
    position x=0 y=1224
}

output "DP-11" {
    mode "2560x1440"
    position x=2256 y=560
}

output "DP-13" {
    mode "2560x1440"
    transform "270"
    position x=4816 y=0
}

layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 2
        active-color "#7a88cf"
        inactive-color "#4b517a"
    }
    border {
        off
    }
}

spawn-at-startup "kanshi"
// spawn-at-startup "waybar" "-c" "/home/matthew/.config/waybar/niri-config.jsonc" "-s" "/home/matthew/.config/waybar/niri-style.css"
spawn-at-startup "swaybg" "-i" "/home/matthew/.config/wallpapers/pexels-eberhard-grossgasteiger-730981.jpg" "-m" "fill"
// spawn-at-startup "mako"

cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 32
}

environment {
    MOZ_ENABLE_WAYLAND "1"
    NIXOS_OZONE_WL "1"
    QT_QPA_PLATFORM "wayland"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "code" {
    open-on-output "DP-11"
}

workspace "browse" {
    open-on-output "DP-13"
}

workspace "chat" {
    open-on-output "DP-13"
}

workspace "huddle" {
    open-on-output "DP-11"
}


workspace "laptop" {
    open-on-output "eDP-1"
}

window-rule {
    match title=r#"Slack"#
    open-on-workspace "chat"
    open-focused false
    open-maximized true
    block-out-from "screencast"
}

window-rule {
    match at-startup=true app-id="kitty"
    open-on-workspace "code"
}

window-rule {
    match title=r#"Slack - Huddle Preview"#
    open-on-workspace "huddle"
    open-focused true
    open-maximized true
    block-out-from "screencast"
}

window-rule {
    match title=r#"Huddle:.*"#
    open-on-workspace "huddle"
    open-focused true
    open-maximized true
    block-out-from "screencast"
}

window-rule {
    match title=r#"Avoidance Frontend"#
    open-on-workspace "laptop"
    open-focused true
    open-maximized true
}

layer-rule {
    match namespace="^noctalia-bar.*"
    block-out-from "screencast"
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

window-rule {
    match app-id="firefox-home"
    open-maximized true
    open-on-workspace "browse"
    block-out-from "screencast"
}

window-rule {
    match app-id="firefox-home"
    match at-startup=true
    open-maximized true
    open-on-workspace "laptop"
    block-out-from "screencast"
}

window-rule {
    match app-id="spotify"
    open-floating true
    open-focused true
}

binds {
    Mod+Return { spawn "kitty" "-e" "bash" "-c" "exec ~/.config/bin/ta || $SHELL"; }
    Mod+Ctrl+Return { spawn "kitty"; }
    Mod+W { spawn "niri-close-window"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+R { spawn "fuzzel" "--dmenu"; }
    Mod+Ctrl+W { spawn "firefox" "-p" "work" "--name=firefox-work"; }
    Mod+Ctrl+H { spawn "firefox" "-P" "home" "--name=firefox-home"; }
    Mod+E { spawn "dolphin"; }
    Mod+B { spawn "oor-bw-pw"; }
    Mod+Ctrl+L { spawn "swaylock" "-c" "000000"; }
    Mod+Shift+B { spawn "bluetoothctl" "connect" "88:C9:E8:44:61:64"; }
    // Mod+Ctrl+W { spawn "bash" "-c" "~/.config/bin/chwall ~/.config/wallpapers"; }

    Mod+M { quit; }
    Mod+V { toggle-window-floating; }

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }

    // Move windows/columns
    Mod+Alt+J { move-window-down; }
    Mod+Alt+K { move-window-up; }
    Mod+Alt+H { move-column-left; }
    Mod+Alt+L { move-column-right; }

    // Focus monitors
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    // Move windows to monitors
    Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-window-to-monitor-right; }

    Mod+O { toggle-overview; }


    Mod+1 { focus-workspace "laptop"; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace "code"; }
    Mod+5 { focus-workspace "browse"; }
    Mod+6 { focus-workspace "chat"; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-window-to-workspace 4; }
    Mod+Shift+2 { move-window-to-workspace 5; }
    Mod+Shift+3 { move-window-to-workspace 6; }
    Mod+Shift+4 { move-window-to-workspace "code"; }
    Mod+Shift+5 { move-window-to-workspace "browse"; }
    Mod+Shift+6 { move-window-to-workspace "chat"; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 10; }

    Mod+WheelScrollUp { focus-workspace-up; }
    Mod+WheelScrollDown { focus-workspace-down; }

    Mod+S { spawn "niri-summon-spotify"; }
    Mod+Shift+S { move-window-to-workspace 10; }

    Mod+F { maximize-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }

    XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "-l" "1.5" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}
