@import "mocha.css";

/* --- GENERAL --- */
* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: rgba(26,27,38,0.75);
  color: @text;
}

#window,
#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-updates,
#custom-dunst,
#tray,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
}

/* --- LEFT MODULES --- */

#workspaces {
  border-radius: 1rem 0px 0px 1rem;

  margin: 5px 0 5px 5px;
  padding-left: 0.3rem;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.25rem;
  margin: 0.3rem 0;

  transition: color 0.5s, background-color 0.5s;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.special {
  color: @rosewater;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface1;
}

#workspaces button:hover {
  color: @sapphire;
  background-color: @surface2;
}

#window {
  border-radius: 0px 1rem 1rem 0px;
  background-color: @surface0;
  margin-right: 1rem;
}

/* --- CENTER MODULES --- */

#clock {
  border-radius: 1rem;
  color: @blue;
}

/* --- RIGHT MODULES --- */

#network {
  color: @teal;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio {
  color: @maroon;
}

#cpu {
  color: @mauve;
}

#memory {
  color: @peach;
}

#temperature {
  color: @flamingo;
}

#backlight {
  color: @yellow;
  margin-right: 0.75rem;
  border-radius: 0px 1rem 1rem 0px;
}

#battery {
  color: @green;
  margin-right: 0.75rem;
  border-radius: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-updates {
  color: @red;
}

#tray {
  margin-right: 0.75rem;
  border-radius: 1rem;
}

/* --- */

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin: 5px 5px 5px 0;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}
